@if(statGroup){
<app-stat-group [stats]="invoiceDashboardStats"></app-stat-group>
}

<div class="space-y-6">
    <div class="flex-1 h-[calc(100vh-198px)] overflow-y-auto">
        <app-standard-table [title]="'Data Table'" [columns]="columns" [data]="invoicesList" [pagination]="pagination"
            [isLoading]="isLoading" [isServerSide]="true" [searchMode]="'server'" (pageChange)="onPageChange($event)"
            (loadMore)="onLoadMore()" (action)="onTableAction($event)" (action)="handleTableAction($event)"
            [customActions]="paymentDetailsActions" [filterConfig]="invFilterOptions"
            (filterChanged)="onFilterUpdate($event)" (dateChange)="onFilterDate($event)"
            [datePickerConfig]="dateConfig">
        </app-standard-table>
    </div>
</div>