@if(statGroup){
<app-stat-group [stats]="deliveryDashboardStats"></app-stat-group>
}

<div class="space-y-6">
  <div class="flex-1 h-[calc(100vh-200px)] overflow-y-auto">
    <app-standard-table [title]="'Data Table'" [columns]="columns" [data]="deliveryDetails" [pagination]="pagination"
      [isServerSide]="true" [customActions]="deliveryActions" (action)="handleTableAction($event)"
      [headerActions]="headerActions" (headerAction)="handleHeaderAction($event)" (pageChange)="onPageChange($event)"
      (selectionChange)="onSelectionChange($event)" [datePickerConfig]="dateConfig" (dateChange)="onFilterDate($event)"
      [filterConfig]="FilterOptions" (filterChanged)="onFilterUpdate($event)" [enableSelection]="true"
      [isLoading]="isLoading">
    </app-standard-table>
  </div>
</div>
